<h1>Showing Article Details</h1>
<!-- to access instance variables in ruby use "<%= %>" -->
<p><strong>Title: <%= @article.title %></strong></p> 
<p><strong>Description: <%= @article.description %></strong></p>       